@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-bg: RGB(107, 163, 100);
  --blue-bg: #52a2c2;
  --green-sec-bg: #50C878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-bg: var(--green-bg);
  --color-blue-bg: var(--blue-bg);
  --color-green-sec-bg: var(--green-sec-bg);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-sans);
}
